body{
    margin:0;
    font-family: 'VT323', monospace;
    background-color: black;
}
header{
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
    border: 1px black solid;
    text-align: center;
    text-shadow: 0.12em 0.12em greenyellow, -0.12em -0.12em hotpink;
    background: linear-gradient(transparent,rgba(78, 116, 21, 0.25),rgba(100, 100, 100, 0.1),rgba(94, 38, 66, 0.25),transparent);
}
header h1{
    display: inline-block;
    margin-bottom: 0;
}
.konteyner{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80vw;
    text-align: center;
}
.btn{
    display: inline-block;
}
button{
    font-weight: bolder;
    margin: 2vw;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2em;
    background: transparent;
    color: hotpink;
    border: 0.075em solid hotpink;
}
button:hover{
    color: greenyellow;
    border-color:greenyellow;
}
button:active{
    background-color: hotpink;
    color: black;
    border: black;
}
button:disabled{
    color: black;
    text-shadow: 0.03em 0.03em greenyellow, -0.03em -0.03em hotpink;
    box-shadow: 0.03em 0.03em greenyellow, -0.03em -0.03em hotpink;;
    border:black;
}
#canvas{
    text-align: left;
    display:inline-block;
    background-color: white;
    border: 8px solid black;
    box-shadow: 0.22em 0.22em greenyellow, -0.22em -0.22em hotpink;
    line-height: 0px;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */  
}
.subDiv{
    margin:0px;
    background-color:#fff;
    display: inline-block;
    width: 100px;
    height: 100px;
}
.popup{
    display: none;
    margin-top: 30vh;
    width: 100vw;
    position: fixed;
    text-align: center;
    background:linear-gradient(90deg,transparent,hotpink 30%,limegreen 70%,transparent);
    border:0.2em solid black;
}
.popup h1{
    font-size: 3em;
    text-shadow: 0.03em 0.03em #fff, -0.03em -0.03em #fff;
    text-align: center;
    margin: 0%;
    margin-top: 1%;
}
.popup button{
    width: 1.5em;
    height: 1.5em;
    border-color: #000;
}
#cr{background:linear-gradient(135deg,red,orange,yellow,green,blue,purple);}
#c1{background: #000;}
#c2{background: #f00;}
#c3{background: #0f0;}
#c4{background: #00f;}
#c5{background: #fF0;}
input{
    margin:2vw;
    font-size: x-large;
    background-color: #000;
    color: hotpink;
    border: 0.075em solid hotpink;
}