body{
    margin:0;
    font-family: 'VT323', monospace;
    background-color: black;
}
header{
    font-family: 'Press Start 2P', cursive;
    font-size: xx-large;
    border: 1px black solid;
    text-align: center;
    text-shadow: 0.12em 0.12em greenyellow, -0.12em -0.12em hotpink;
    background: linear-gradient(transparent,rgba(78, 116, 21, 0.25),rgba(100, 100, 100, 0.1),rgba(94, 38, 66, 0.25),transparent);
}
header h1{
    display: inline-block;
    margin-bottom: 0;
}
.konteyner{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 80vw;
    text-align: center;
}
.btn{
    display: inline-block;
}
button{
    font-weight: bolder;
    margin: 2vw;
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 2em;
    background: transparent;
    color: hotpink;
    border: 0.075em solid hotpink;
}
button:hover{
    color: greenyellow;
    border-color:greenyellow;
}
button:active{
    background-color: hotpink;
    color: black;
    border: black;
}
button:disabled{
    color: black;
    text-shadow: 0.03em 0.03em greenyellow, -0.03em -0.03em hotpink;
    box-shadow: 0.03em 0.03em greenyellow, -0.03em -0.03em hotpink;;
    border:black;
}
#canvas{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 0.5em solid black;
    box-shadow: 0.22em 0.22em greenyellow, -0.22em -0.22em hotpink;
}
